.DS_Store
env.sh
wp-config.php
wp-config-dev.php
wp-config-staging.php
wp-content/cache/
wp-content/uploads
docs/work.xlsx
docs/schedule.md
docs/bugs.md
docs/~work.xlsx
.idea/
.htaccess

# sass cache
*.scssc
