.tcn-author {
    .author-top {
        .tcn-partner-banner {
            .partner-name {
                font-size: 20px;
            }
            .entry-categories {
                padding-left: 20px;
                position: relative;
                span {
                    top: 3px;
                }
            }
        }
    }
    .author-upcoming {
        clear: both;
        padding-top: 40px;
    }
    .author-recorded {
    }
}