div.tcn-partner-banner-container {
    margin-top: 24px;
    margin-bottom: 30px;
    padding: 0px 40px;
    padding-top: 30px;
    border: 5px solid #f2f2f2;
    border-radius: 8px;
    position: relative;
    img {
        position: absolute;
        top: -26px;
        left: 0;
        right: 0px;
        margin: auto;
    }
    .tcn-partner-banner-title {
        font-size: 29px;
        color: #fb4400;
        text-align: center;
        margin-bottom: 15px;
    }
    .tcn-parter-banner-text {
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 32px;
        font-weight: 300;
    }
}

div.tcn-partner-content {
    li.g1-column {
        min-height: 80px;
    }
    .g1-toggle__title {
        height: 40px;
        font-size: 18px;
        color: #fb4400; 
        line-height: 20px;
        margin-bottom: 10px;
        text-align: left;
    }
    .g1-toggle {
        text-align: center;
    }
    .g1-toggle a {
        font-size: 15px;
        line-height: 22px;
    }
}

div.tcn-partner-become-container {
    text-align: center;
    margin-top: 40px;
}


div.tcn-partner-signup {
    .tcn-partner-signup-title {
        font-size: 38px;
        text-align: center;
    }
    .tcn-partner-signup-subtitle {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
    }
    .tcn-partner-signup-banner {
        text-align: center;
        margin-bottom: 32px;
    }
    .tcn-partner-signup-grid {
        margin-top: 25px;
        .unit {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            .inner {
                padding-left: 80px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                position: relative;
                img {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }
            }
            @media #{$media-query-smallest} {
                display: block;
                width: auto;
                .inner {
                    padding-right: 0px;
                }
            }
        }
    }
}


/* language changer dropdown */

@media only screen and (max-width: 600px) {
}
.language_changer_container {
    position: absolute;
    right: 180px;
    top: 7px;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .language_changer_container {
        position: relative;
        right: 0;
    }

    .language_changer_container .dropdown {
        left: -30px;
        right: auto;
    }
}

.language_changer_container .dropdown {
    position: absolute;
    right: -150px;
    top: 30px;
    width: 300px;
}

.language_changer {
    background: none !important;
    border: none;
    color: #4a4a4a !important;
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.language_changer > span:last-child {
    margin-left: 5px;
}

.dropdown-menu {
    background-color: hsl(198, 76%, 52%);
    border-radius: 5px;
    list-style: none;
    margin-top: 5px;
    padding-left: 0;
    text-align: center;
    transition: opacity 0.3s;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:first-child {
    border-bottom: 1px solid hsl(198, 75%, 75%);
}

.dropdown-menu a {
    color: #fff !important;
    display: block;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: hsl(198, 75%, 75%) !important;
}

.close {
    opacity: 0;
    display: none;
}

.open {
    opacity: 1;
    display: block;
}

.chevron::before {
    border-style: solid;
    border-width: 0.125em 0.125em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: relative;
    top: -0.25em;
    transform: rotate(135deg);
    width: 0.45em;
}

.tcn-search-box {
    font-weight: bold !important;
    font-size: 15px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 10px !important;
}

.u-purple-grad {
    background: linear-gradient(to right, #34477d 0%, #6b44b7 100%);
    color: #fff;
}

.g-recaptcha {
    margin-bottom: 20px;
}

.g1-social-icon--huddol,
.g1-social-icon--facebook,
.g1-social-icon--twitter,
.g1-social-icon--instagram,
.g1-social-icon--youtube {
    background-color: transparent !important;
}

.footer-social-icons {
    text-align: center;
}

.footer-social-icons > .g1-social-icons {
    display: inline-block;
    position: inherit !important;
}